{{page-title "Posts"}}

{{#each @model as |post|}}
  <div>
    <p>{{post.id}}</p>
    <p><LinkTo @route='posts.show' @model={{post}}>{{post.slug}}</LinkTo></p>
    <p>{{post.title}}</p>
    <p>{{post.body}}</p>
  </div>
{{/each}}

{{outlet}}
