{{page-title "Posts"}}

{{#each @model as |post|}}
  <div>
    <p><LinkTo @route='posts.show' @model={{post}}>{{post.slug}}</LinkTo></p>
    <p>{{post.title}}</p>
    <content>
      {{post.stripedBody}}
    </content>
  </div>
{{/each}}

{{outlet}}
